h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #21FFAA underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* font-family: Seogo UI, Futura, Arial, sans-serif; */
    font-family: monospace;
    
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}