section {
    width: 80%;
    height: 800px;
    /* background-image: url(https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg);
    background-size: cover;
    background-position: bottom; */
    background: no-repeat center/20% url(https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg), blueviolet;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}